* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  color: #fafafa;
}

body {
  background-color: #222222;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    'hd hd hd hd hd hd hd hd hd hd hd hd'
    '. cntn cntn cntn cntn cntn cntn cntn cntn cntn cntn .'
    'ft ft ft ft ft ft ft ft ft ft ft ft';
}

.header {
  width: 100%;
  grid-area: hd;
}

.header img {
  position: absolute;
  max-width: 100%;
  object-position: 50% 50%;
  filter: brightness(20%);
}

.header .ui-control-pc {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .ui-control-pc .rightHalf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .ui-control-pc .rightHalf .navigationPC {
  margin-right: 20px;
}

.header .ui-control-pc span {
  color: #fff;
  font-size: 20px;
}

.header .ui-control-pc .nav__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  margin: 0 10px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.header .ui-control-pc .nav__link:hover {
  opacity: 1;
}

.header .buttonsChangeLang {
  width: 230px;
  height: 40px;
}

.buttonsChangeLang button {
  width: 90px;
  height: 100%;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  opacity: 0.7;
  margin: 0 10px;
}

.buttonsChangeLang button.ua:hover {
  background: linear-gradient(
    180deg,
    rgb(0, 87, 184) 50%,
    rgb(255, 216, 0) 51%
  );
  opacity: 1;
  color: transparent;
}

.buttonsChangeLang button.pl:hover {
  background: linear-gradient(
    180deg,
    rgb(233, 232, 231) 50%,
    rgb(212, 33, 61) 51%
  );
  opacity: 1;
  color: transparent;
}

.ui-control-mobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.buttons {
  position: absolute;
  right: 5px;
  top: 55%;
  width: 85px;
  height: 185px;
}

.navigation {
  position: absolute;
  left: 5px;
  top: 55%;
  width: 85px;
  height: 185px;
}

.ui-control-mobile button,
.ui-control-mobile a {
  margin-bottom: 15px;
  pointer-events: visible;
  min-width: 80px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .header .ui-control-pc {
    display: flex;
  }
  .ui-control-mobile {
    display: none;
  }
  .content {
    margin-top: 600px;
  }
}

@media (max-width: 600px) {
  .header .ui-control-pc {
    display: none;
  }
  .ui-control-mobile {
    display: block;
  }
  .content {
    margin-top: 300px;
  }
}

.content {
  width: 100%;
  grid-area: cntn;
  height: 900px;
}

.content h1 {
  text-align: center;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #111111;
  grid-area: ft;
}
