* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  color: #fafafa;
}

body {
  background-color: #222222;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'hd hd hd hd hd hd hd hd hd hd hd hd' '. cntn cntn cntn cntn cntn cntn cntn cntn cntn cntn .';
}

/* 'ft ft ft ft ft ft ft ft ft ft ft ft' */

.header {
  width: 100%;
  grid-area: hd;
}

.header img {
  max-width: 100%;
  object-position: 50% 50%;
}

.header .buttonsChangeLang {
  position: absolute;
  width: 150px;
  height: 40px;
  right: 5px;
  top: 10px;
}

.buttonsChangeLang button {
  width: 45%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #000;
  border-radius: 5px;
  color: black;
  font-size: 18px;
}

.ui-control {
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.buttons {
  position: absolute;
  right: 5px;
  top: 55%;
  width: 75px;
  height: 185px;
}

.navigation {
  position: absolute;
  left: 5px;
  top: 55%;
  width: 85px;
  height: 185px;
}

.navigation a {
  text-decoration: none;
}

.ui-control button,
a {
  margin-bottom: 15px;
  pointer-events: visible;
  width: 65px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-control a,
.ui-control .navigation button {
  width: 80px;
}

@media (min-width: 600px) {
  .header .buttonsChangeLang {
    display: block;
  }
  .ui-control {
    display: none;
  }
}

@media (max-width: 600px) {
  .header .buttonsChangeLang {
    display: none;
  }
  .ui-control {
    display: block;
  }
}

.content {
  width: 100%;
  grid-area: cntn;
  height: 900px;
}

.content h1 {
  text-align: center;
}

.footer {
  width: 100%;
  grid-area: ft;
}
